body {
	background : rgba(242, 242, 242, 0.61);
}

.carousel-item {
	display: block !important;	
}

.gym-grey {
   color: #bbbbbb;
}

.breadcrumb-menu {
	position:relative;
}

.breadcrumb-item.active {
    color: #000000;
    font-weight: 600;
}

.upper-menu-voice {
	margin-right: 15px;
	margin-left: 15px;
	color: #bbbbbb;
}


.voice-highlighted {
	color: #737070;
	font-weight: 600;
	text-decoration: underline;
}

.no-result {
	margin-top: 100px;	
}

.upper-menu-voice:hover {
	color: #737070;
	text-decoration: none;	
}

.col-custom {
	width: 110px;	
}

.card {
	border: 0;
}

.gym-program-img {
	position: relative;
	top: 15px;
	border: solid 1px #63c2de;
	height: 80px;
	width: 80px;
	cursor: pointer;
}

.gym-img-container {
	border-bottom: solid 2px #63c2de;
	background-color: rgba(99, 194, 222, 0.14);
}

.gym-program {
	border: solid 1px;
	border-color: #cfd8dc;
	margin-bottom:5px;
	margin-top: 5px;
}

.gym-card-header {
	padding: 0.25rem 1rem;

	background-color: rgba(178, 178, 178, 0.21);
}

.gym-branch-title {
	color: #808080 !important;
	
}

.gym-branch-card {
	margin-bottom: 0.25rem;
}
.gym-program-title {
	cursor: pointer;
}

.gym-btn-search:hover {
	background-color: #263238;
    border-color: #f2eeea;

}


.gym-btn-search {
	background-color: rgba(38, 50, 56, 0.36);
    border-color: #f2eeea;

}

.gym-branch-card {
	box-shadow: -8px 8px 10px #dedede;
}

.ico-allenamenti {
	font-family: SportFamily;
	font-size: 18px;
}

@media (min-width: 1220px) {
	.gym-program {
		width: 300px;
	}
}
	.rwd-video iframe,
.rwd-video object,
.rwd-video embed {
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}
.drill-container-detail{
	max-width: 815px;
}

.gym-margin-left-xs{
	margin-left: 10px;
}

.related-video-text-size{
	cursor:pointer;
	width:45%;
}
.drills {
	margin-bottom: 30px;
	min-width:400px;
}

.drills-page {
	margin-bottom: 30px;
	min-width:210px;
}

@media (min-width : 992px) and (max-width: 1150px){
	.drill-container-detail{
	    display: inline-block;
		width: 85%;
		float: right;
	}
}

.gym-drill-preview-container {
    height: 157px;
    width: 210px;
    background-size: 280px 210px;
    background-position: center center;
    margin-bottom: 10px;
    background-repeat: no-repeat;
}
.gym-drill-preview-container:hover {
	cursor: pointer;
}

@media (min-width : 401px) and (max-width: 528px){
	.gym-drill-preview-container-right {
	    height: 300px !important;
	    width: 400px !important;
	    background-size: 400px 300px !important;
	    background-position: center center;
	    margin-bottom: 10px;
	    background-repeat: no-repeat;
	}
	
	.drill-description {
		max-width:450px !important;
	}
}
@media (max-width : 450px){
	.related-video-text-size{
	width: 210px;
	}
	.gym-margin-left-xs {
	  margin-left: 0px;
	}
}
@media (min-width : 1151px){
	.drill-container-detail{
	    display: inline-block;
		width: 85%;
		float: right;
	}
	
}

.gym-program-feeds {
	margin-bottom: 5px;
	position: absolute;
	bottom: 10px;
	left: 15%;
	right: 15%;
}

.gym-program-description-wrapper {
	height: 200px;
	margin-top: 15px;

}
.gym-drill-description-wrapper {
	height: 125px;
	margin-top: 15px;

}
.gym-program-description-value {
  overflow: hidden;
  position: relative;
  line-height: 1.2em;
  max-height: 5.8em;
  text-align: center;
  margin-right: -1em;
  padding-right: 1em;
  margin-top: 15px;
}

.gym-program-description-value:before {
  content: '...';
  position: absolute;
  right: 5px;
  bottom: 0;
}

.gym-program-description-value:after {
  content: '';
  position: absolute;
  right: 0;
  width: 1em;
  height: 1em;
  margin-top: 0.2em;
  background: #f7f7f7;
}

.gym-program-description {
	margin-top: 10px;
}


.gym-img-container {
	padding-right: 10px;
	padding-left: 10px;
	margin-top: 1px;
	margin-bottom:10px;
}
.rwd-video {
	height: 0;
	overflow: hidden;
	padding-bottom: 56.25%;
	padding-top: 30px;
	position: relative;
}


 .rating {
    unicode-bidi: bidi-override;
    direction: rtl;
  }

  .rating input {
    position: absolute;
    left: -999999px;
  }

  .rating label {
    display: inline-block;
    font-size: 0;
  }

  .rating>label:before {
    position: relative;
    font: 24px/1 FontAwesome;
    display: block;
    content: "\f005";
    color: #ccc;
    background: -webkit-linear-gradient(-45deg, #d9d9d9 0%, #b3b3b3 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .rating>label:hover:before,
  .rating>label:hover~label:before,
  .rating>label.selected:before,
  .rating>label.selected~label:before {
    color: #f0ad4e;
    background: -webkit-linear-gradient(-45deg, #fcb551 0%, #d69a45 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
.gym-drill-detail-navs {
	margin-bottom: 20px;
}
.gym-drill-preview-container {

	margin-bottom:10px;
}
.gym-drill-preview-container-right {
    height: 157px;
    width: 210px;
    background-size: 280px 210px;
    background-position: center center;
    margin-bottom: 10px;
    background-repeat: no-repeat;
}
.gym-drill-preview-container-right:hover {
	cursor: pointer;
}

.gym-drill-preview-container-detail {
	margin-bottom:10px;
}
iframe{
	width: 100%;
}
.gym-footer-image {
	margin-top: 20px;
}

.gym-feed-distance {
	margin-left: 15px;
	margin-right: 15px;
}

.img-skill {
	width: 100%;
	height: 100px;
}



.skill-container {
	border: solid 1px;
	padding-right: 15px;
	margin-right: 10px;
	margin-left: 10px;
	padding-left: 15px;
	padding-top: 5px;
	height: 260px;
	margin-bottom: 10px;
}

.skill-value {
	font-size: 0.7rem;
	padding-right: 0px;
	padding-left: 0px;
}

.gym-difficulty-indication {
	background-color: grey;
	height: 25px;
	width: 25px;
	color: white;

}

.description-skill-container{
	height: 90px;
}

@media (min-width: 576px) {
	.selector-container {
		display:none;
	}
	.fa-drill {
		font-size:18px !important;
	}
}
@media (max-width: 576px) {
	.apparatus-container {
	  display:none;
	}
	
}

.apparatus-img {
	width: 55px;
	height: 55px;
	transition: width .15s ease-in-out, height .15s ease-in-out;;
    -webkit-transition: width .15s ease-in-out, height .15s ease-in-out;; /* Safari 3.1 to 6.0 */
}

.apparatus-img:hover {
    cursor: pointer;
	width: 65px;
	height: 65px;
}

.apparatus-selection {
	width: 100%;
}

.program-details-title{
	margin-bottom: 40px;
}

.apparatus-container {
	margin-bottom: 30px;
	height: 100px;
}

.pagination-button {
	color: #0080c0;
	margin-left: 15px;
	font-size:1.5rem;
}

.pagination-button:hover {
	cursor: pointer;
}

.apparatus-selected img{
	width: 65px;
	height: 65px;
}

.apparatus-selected {
	font-weight:600;
	font-size:1rem;
}

.obscure{
	-webkit-filter: blur(10px);
  -moz-filter: blur(4px);
  -o-filter: blur(4px);
  -ms-filter: blur(4px);
  filter: blur(4px);
  background: #b0bec5
}

.difficulty {
	width: 50px;
	height: 50px;
	display: inline-block;
}

.difficulty-img {
	width: 30px;
	height: 30px;
}

.difficulty-img:hover {
	border: solid 5px;
	border-radius: 30%;
	border-color: #1d90b9;
	cursor: pointer;
}

.difficulty-selected{
	border: solid 5px;
	border-radius: 50%;
	border-color: #1d90b9;
	width: 35px;
	height: 35px;
}

.selector-container {
	margin-bottom: 50px;
}

.view-mode {
	color: #b2b2b2;
	margin-left: 15px;
}

.drill-video-preview:hover {
	cursor: pointer;
}

.drill-description {
	max-width:  210px;
	font-weight: 600;
}

.drill-container-wrapper-detail {
	margin-bottom: 15px;
}

.drill-container-wrapper {
	margin-bottom: 15px;
}

@media (max-width: 544px) {
	.drill-video-preview {
		height: 236px;
		width: 430px;
	}
	
	.drill-container-wrapper {
		margin-bottom: 40px;
	}
	
	.drill-description {
		text-align: center !important;
		font-size:larger;
		color: #737070;
		font-weight: 700;
	}
}

.slick-prev:before, .slick-next:before {
    font-family: 'slick';
    font-size: 25px !important;
    line-height: 1;
    opacity: .75;
    color: rgb(103, 103, 103) !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


.playlist-element {
	margin-top:10px;	
	padding-bottom:5px;
}

.gym-playlist-preview {
	height: 157px;
    width: 210px;
}

.playlist-divider{
	color:silver;
	width: 90%;
}

.playlist-description {
  overflow: hidden;
  position: relative;
  line-height: 1.4em;
  max-height: 5.6em;
  text-align: left;
  margin-right: -1em;
  padding-right: 1em;
  margin-top: 15px;
}

.playlist-description:before {
  content: '...';
  position: absolute;
  right: 5px;
  bottom: 0;
}

.playlist-description:after {
  content: '';
  position: absolute;
  right: 0;
  width: 1em;
  height: 1em;
  margin-top: 0.2em;
  background: #f7f7f7;
}

.playlist-info {
   padding-right: 30px;
}

.back-to-playlist{
	margin-right: 10px;
	cursor: pointer;
}

.video-selected {
    border: 5px solid red;
}

.fixedbutton {
    position: fixed;
    bottom: 80px;
    right: 80px; 
}