.gym-program-img {
	position: relative;
	top: 15px;
	border: solid 1px #63c2de;
	height: 80px;
	width: 80px;   
}
.gym-img-container {
	border-bottom: solid 2px #63c2de;
	background-color: rgba(99, 194, 222, 0.14);
}

.gym-program {
	border: solid 1px;
	margin-bottom:5px;
	margin-top: 5px;
}

.gym-card-header {
	padding: 0.25rem 1rem;
	
	background-color: #263238;
}

.gym-branch-title {
	color: #fefaf5 !important;
}

.gym-branch-card {
	margin-bottom: 0.25rem;
}

.gym-btn-search:hover {
	background-color: #263238;
    border-color: #f2eeea;
    
}


.gym-btn-search {
	background-color: rgba(38, 50, 56, 0.36);
    border-color: #f2eeea;
    
}

.ico-allenamenti {
	font-family: SportFamily;
	font-size: 18px;
}

@media (min-width: 1220px) {
	.gym-program {
		width: 300px;
	}
}

.gym-program-feeds {
	margin-bottom: 5px;
	position: absolute;
	bottom: 10px;
	left: 15%;
	right: 15%;
}

.gym-program-description-wrapper {
	height: 200px;
	margin-top: 15px;
	
}

.gym-program-description-value {
  overflow: hidden;
  position: relative;
  line-height: 1.2em;
  max-height: 6em;
  text-align: center;
  margin-right: -1em;
  padding-right: 1em;
  margin-top: 15px; 	
}

.gym-program-description-value:before {
  content: '...';
  position: absolute;
  right: 5px;
  bottom: 0;
}

.gym-program-description-value:after {
  content: '';
  position: absolute;
  right: 0;
  width: 1em;
  height: 1em;
  margin-top: 0.2em;
  background: white;
}

.gym-program-description {
	margin-top: 10px;
}

.gym-img-container {
	padding-right: 10px;
	padding-left: 10px;
	margin-top: 1px;
	margin-bottom:10px;
}

.gym-footer-image {
	margin-top: 20px;
}

.gym-feed-distance {
	margin-left: 15px;
	margin-right: 15px;
}

.img-skill {
	width: 100%;
	height: 100px;
}



.skill-container {
	border: solid 1px;
	padding-right: 15px;
	padding-left: 15px;
	padding-top: 5px;
	height: 260px;
	margin-bottom: 10px;
}

.skill-value {
	font-size: 0.7rem;
	padding-right: 0px;
	padding-left: 0px;
}

.gym-difficulty-indication {
	background-color: grey;
	height: 25px;
	width: 25px;
	color: white;
	
}

.description-skill-container{
	height: 90px;
}

@media (min-width: 576px) and (max-width: 767px) {
	.description-skill-container{
		height: 75px;
	}
	
}

@media (max-width: 576px) {
	.img-skill {		 
		 width: 200px;
		 height: 110px;
	}
	
	.description-skill-container{
		height: 75px;
	}
}
