.gym-program-img {
	border: solid 1px green;
	height: 80px;
	width: 80px;   
}
.gym-img-container {
	border-bottom: solid 2px green
}

.gym-program {
	border: solid 1px;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom:5px;
	margin-top:5px;
}

.gym-card-header {
	padding: 0.25rem 1rem;
	
	background-color: #263238;
}

.gym-branch-title {
	color: #fefaf5 !important;
}