<div ng-controller="drillCtrl">
	<div class="drills-page d-flex flex-row flex-wrap justify-content-center">
		
			<div class="p-2 drill-container-wrapper" ng-repeat="drill in drills">
				 <div class="drill-container text-justify">
					 <div ng-click="goToDrillDetail(drill.id)" class="gym-drill-preview-container-right text-center" style="background-image:url({{'http://img.youtube.com/vi/'+drill.attributes.field_video_id+'/0.jpg'}})">
						 <!-- <img ng-click="goToDrillDetail(drill.id)" width="210" class="drill-video-preview" height="157" src="{{'http://img.youtube.com/vi/'+drill.attributes.field_video_id+'/0.jpg'}}"/>-->
						 
						 <!-- <iframe src="{{getIframeSrc(drill.attributes.field_video_id,drill.attributes.field_video_source)}}" frameborder="0" allowfullscreen></iframe> -->
					 </div>		
					 <div class="gym-program-title drill-description text-justify" ng-click="goToDrillDetail(drill.id)">{{drill.attributes.title}}</div>							
				</div>
			</div>
		
	</div>
</div>

<div ng-controller="testerCtrl">
	<div id="modal-youtube" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
	  <div class="modal-dialog modal-lg">
	    <div class="modal-content">
		    <div class="modal-header">
	        	<h5 class="modal-title" id="exampleModalLabel">Your Playlists</h5>
	        	<button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          		<span aria-hidden="true">&times;</span>
	        	</button>
	      	</div>
	      	
	      	<div ng-repeat="playlist in playlists" class="row playlist-element" ng-show="playlistmode" ng-if="playlist.snippet.title!='Favorites'">
	      		<div class="col-6 text-center">
	      			<img ng-click="goToPlayList(playlist.id)" class="gym-playlist-preview" src="{{playlist.snippet.thumbnails.default.url}}"></img>
	      		</div>
	      		<div class="col-6 playlist-info">
	      			<h4>{{playlist.snippet.title}}</h4>
	      			<p class="playlist-description">{{playlist.snippet.description}}</p>
	      			<span>Items: {{playlist.contentDetails.itemCount}}</span>	      			
	      		</div>
	      		<hr class="playlist-divider">
	      	</div>
	      	
	      	<span class="text-right back-to-playlist" ng-click="playlistmode=true" ng-show="!playlistmode"><i class="fa fa-chevron-left fa-1" aria-hidden="true"></i>  Indietro</span>
	      	<div class="drills-page d-flex flex-row flex-wrap justify-content-center" ng-show="!playlistmode">
				
				<div class="p-2 drill-container-wrapper" ng-repeat="videoItem in playlistItems">
					 <div class="drill-container text-justify">
						 <div class="gym-drill-preview-container-right text-center" ng-click="toggleVideoSelection($event,$index)" style="background-image:url({{'http://img.youtube.com/vi/'+videoItem.contentDetails.videoId+'/0.jpg'}})">
						 </div>		
						 <div class="gym-program-title drill-description text-justify" ng-click="goToDrillDetail(drill.id)">{{videoItem.snippet.title}}</div>							
					</div>
				</div>
				<button type="button" class="btn btn-danger btn-lg" ng-click="addToVideoSelection()">Add drill pin</button>
			</div>
		
	    </div>
	  </div>
	</div>
	
	
	
		<button type="button" class="fixedbutton btn btn-danger btn-lg" ng-click="getUserChannel();">Add drill pin</button>
	
</div>


