<div class="animated fadeIn" ng-controller="allenamentiCtrl">
	<div id="accordion" role="tablist" aria-multiselectable="true">
	  <div ng-repeat="branch in branches" class="card  gym-branch-card">
	
	    <div id="{{'collapse-'+$index}}" ng-class="{'collapse': true, 'show': $first, 'container':true}" role="tabpanel" aria-labelledby="{{'heading-'+$index}}">
	      <div class="card-block row justify-content-between gym-program-container">		
	        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3 gym-program" ng-repeat="program in programs[branch.attributes.uuid]">
	        	
	        	<div class="gym-img-container text-center">
	        		<div class="pull-right"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></div>
	        		<img class="rounded-circle gym-program-img img-responsive center-block" ng-click="goToDetails(program.id)" src="{{portalURL+'/'+programs_inclusions[branch.attributes.uuid][$index].attributes.url}}" />
	        		<footer class="blockquote-footer gym-footer-image text-right">Last update {{program.attributes.changed | date}}</footer>
	        	</div>
	        	<div class="gym-program-description-wrapper">
		        	<div class="gym-program-description text-center">
		        			<b class="gym-program-title" ng-click="goToDetails(program.id)">{{program.attributes.title}}</b>
		        			<p class="gym-program-description-value">{{program.attributes.body.value}}</p>
		        	</div>
		        	<td class="align-bottom">
		        	<div class="gym-program-feeds text-center row">
			        	 <div class="col-4 text-center"><i class="fa fa-folder-o" aria-hidden="true"></i> 300</div>
			        	 <div class="col-4 text-center" ><i class="fa fa-thumbs-up" aria-hidden="true"></i> 25</div>
			        	 <div class="col-4 text-center"><i class="fa fa-share-alt" aria-hidden="true"></i></div>	
		        	</div>
		        	
	        	</div>
	        </div>
	      </div>
	    </div>
	  </div>
	</div>
</div>
