<div class="flex-row align-items-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="clearfix">
                    <h5 class="pt-3 text-center">Program List</h5>
                </div>
                <div class="input-prepend input-group" style="padding-bottom: 5%">
                    <span class="input-group-addon"><i class="fa fa-search"></i>
                    </span>
                    <input id="prependedInput" class="form-control" size="16" type="text" placeholder="What are you looking for?">
                    <span class="input-group-btn">
                        <button class="btn btn-info" type="button">Search</button>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="animated fadeIn" ng-controller="allenamentiCtrl">
	<div id="accordion" role="tablist" aria-multiselectable="true">
	  <div ng-repeat="branch in branches" class="card">
	    <div class="card-header" role="tab" id="{{'heading-'+$index}}">
	      <h5 class="mb-0">
	        <a data-toggle="collapse" data-parent="#accordion" data-target="{{'#collapse-'+$index}}" aria-expanded="true" aria-controls="{{'collapse-'+$index}}">
	         {{branch.attributes.name}}
	        </a>
	      </h5>
	    </div>
	
	    <div id="{{'collapse-'+$index}}" ng-class="{'collapse': true, 'show': $first, 'container':true}" role="tabpanel" aria-labelledby="{{'heading-'+$index}}">
	      <div class="card-block row">		
	        <div class="col col-md-4 gym-program" ng-repeat="program in programs[branch.attributes.uuid]">
	        	<div class="pull-right"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></div>
	        	<div class="gym-img-container text-center">
	        		<img class="rounded-circle gym-program-img img-responsive center-block" src="{{'http://dev-app4gym.pantheonsite.io'+programs_inclusions[branch.attributes.uuid][$index].attributes.url}}" />
	        		<footer class="blockquote-footer text-right">Last update</footer>
	        	</div>
	        	<div class="gym-program-description">
	        	
	        	</div>
	        	
	        </div>
	      </div>
	    </div>
	  </div>
	</div>
</div>
