<div ng-controller="detailsProgramCtrl">
<div class="flex-row align-items-center">
	<div class="container">
		<div class="row apparatus-container justify-content-center">
		
			<div class="hidden-sm-down col-custom visible-sm-up text-center" ng-repeat="ap in apparatus" ng-class="{'apparatus-selected':ap.selected}"><img ng-class="{'apparatus-selected':ap.selected}" ng-click="getGroupsAndSkills(ap.id);select($index)" class="apparatus-img" src="{{config.portalURL+'/'+apparatus_inclusions[ap.relationships.field_icon.data.id].attributes.url}}"><br>{{ap.attributes.name}}</div>
			
		</div>
		<div class="row justify-content-center selector-container">
			<div class="col-12">
				<div class="dropdown apparatus-selection">
	  				<button class="btn btn-secondary dropdown-toggle apparatus-selection" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	    				Select an Apparatus
	  				</button>
	  				<div class="dropdown-menu apparatus-selection" aria-labelledby="dropdownMenuButton">
					    <a class="dropdown-item" ng-repeat="ap in apparatus" ng-click="getGroupsAndSkills(ap.id);select($index)" href="#">{{ap.attributes.name}}</a>
	  				</div>
				</div>	
			</div>
			
					
		</div>
		
	</div>
</div>
<div class="animated fadeIn">
<div class="row">
			<div class="col-md-6">			     
					<div class="difficulty" ng-repeat="difficulty in difficulties">
						<img ng-click="toggleDifficulty(difficulty.attributes.name)" ng-class="{'difficulty-img':true, 'difficulty-selected':skill_difficulties.indexOf(difficulty.attributes.name)!=-1}" src="{{'/img/difficulties_icons/'+difficulty.attributes.name+'.png'}}">
					</div>
			</div>
			<div class="col-md-6">
					<div class="pull-right">
						<span class="view-mode"><i class="fa fa-columns fa-lg" aria-hidden="true"></i></span>
						<span class="view-mode"><i class="fa fa-th-list fa-lg" aria-hidden="true"></i></span>
					</div>
			</div>
		</div>
	<div id="accordion" role="tablist" aria-multiselectable="true" ng-show="skills != {} && skills != null">
	  <div ng-repeat="group in groups" class="card  gym-branch-card">
	    <div class="card-header gym-card-header" role="tab" id="{{'heading-'+$index}}">
	      <h6 class="mb-0 text-center">
	        <a data-toggle="collapse" href="#" class="gym-branch-title upper-menu-voice" data-parent="#accordion" data-target="{{'#collapse-'+$index}}" aria-expanded="true" aria-controls="{{'collapse-'+$index}}">
	         {{group.attributes.name}}
	        </a>
	        <span class="pagination-button pull-left" ng-show="navigation[group.id].prev!=0 && navigation[group.id].prev!=null" ng-click="navigate(group.id,'prev')"><i class="fa fa-arrow-circle-o-left" aria-hidden="true"></i></span><span class="pagination-button pull-right" ng-show="navigation[group.id].next!=0 && navigation[group.id].next!=null" ng-click="navigate(group.id,'next')"><i class="fa fa-arrow-circle-o-right fa-3X" aria-hidden="true"></i></span>
	        
	      </h6>
	      
	    </div>
	
	    <div id="{{'collapse-'+$index}}" ng-class="{'collapse': true, 'show': $first, 'container':true}" role="tabpanel" aria-labelledby="{{'heading-'+$index}}">
	      <div class="card-block row">		
	        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 container" ng-repeat="skill in skills[group.id]">
		         <div class="skill-container" ng-class="{'obscure':skill_difficulties.indexOf(skills_inclusions[group.id][skill.relationships.field_difficulty.data.id].attributes.name)==-1&&skill_difficulties.length>0}">
			          <div class="row">
			          	<div class="col-4"><div class="rounded-circle text-center gym-difficulty-indication"><span class="align-middle">{{skills_inclusions[group.id][skill.relationships.field_difficulty.data.id].attributes.name}}</span></div></div>
			          	<div class="col-4 text-center skill-value">Value {{skill.attributes.field_value}}</div>
			          	<div class="col-4">
			          		<div class="pull-right"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></div>
			          	</div>
			          </div>
			          <div class="description-skill-container">
			          	<p class="gym-program-description-value">{{skill.attributes.body.value}}</p>
			          </div>
			       	  <div class="text-center img-skill-container">
			        	 <img class="img-skill img-responsive center-block" ng-click="alert('funzione eseguita')" src="{{config.portalURL+'/'+skills_inclusions[group.id][skill.relationships.field_image.data.id].attributes.url}}" />
			          </div>
		         </div>	
	        </div>
	      </div>
	    </div>
	  </div>
	</div>
	<div class="text-center gym-grey" ng-show="groups.length==0 && callExecuted"><h3 class="no-result">No results were found</h3></div>
</div>
</div>