<div ng-controller="drillCtrl">
	<div class="drills d-flex flex-row flex-wrap justify-content-center">

			<div class="p-2 drill-container-wrapper" ng-repeat="drill in drills">
				 <div class="drill-container text-justify">
					 <div class="gym-drill-preview-container text-center">
						 <a href="/#!/drill-details/{{drill.id}}">
						 <img width="210" class="drill-video-preview" height="118" src="{{'http://img.youtube.com/vi/'+drill.attributes.field_video_id+'/default.jpg'}}"/>
						 <!-- <iframe src="{{getIframeSrc(drill.attributes.field_video_id,drill.attributes.field_video_source)}}" frameborder="0" allowfullscreen></iframe> -->
						 </a>
					 </div>
					 <div class="gym-program-title drill-description text-justify">{{drill.attributes.title}}</div>
				</div>
			</div>

	</div>
</div>
