<!-- Navbar -->
<div ng-include="'views/common/navbar.html'"></div>

<div class="app-body">
    <!-- Navigation -->
    <div ng-include="'views/common/sidebar-nav.html'"></div>

    <!-- Main content -->
    <main class="main">

        <!-- Breadcrumb -->
        <ol class="breadcrumb" breadcrumb>
           <div class="row">
           <div class="col-3"><ncy-breadcrumb></ncy-breadcrumb></div>
            
			<div class="col-6">
				<li class="upper-menu center-block text-center">
	                <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
	                    <a ui-sref="" ng-repeat="voice in menuList" ng-click="voice.callBack(voice.elementID)" class="upper-menu-voice" href="#">{{voice.name}}</a>
	                </div>
	            </li>
			</div>
			
            
            <!-- Breadcrumb Menu-->
            <div class="col-3">
            	<li class="breadcrumb-menu pull-right">
	                <div class="btn-group" role="group" aria-label="Button group with nested dropdown">	   
	                    <a class="btn btn-secondary" ui-sref="app.main"><i class="icon-settings"></i> &nbsp;Settings</a>
	                </div>
           		 </li>
            </div>
            
           </div>

        </ol>

        <div class="container-fluid">        
            <ui-view></ui-view>
        </div>
        <!-- /.container-fluid -->
    </main>


    <!-- Aside Menu -->
    <div ng-include="'views/common/aside.html'"></div>

</div>

<!-- Footer -->
<div ng-include="'views/common/footer.html'"></div>
