<div class="app flex-row align-items-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card mx-4">
                    <div class="card-block p-4" ng-controller="RegisterCtrl">
                        <h1>Register</h1>
                        <p class="text-muted">Create your account</p>
                        <form id="register" ng-submit="submit($event)">
                          <div class="input-group mb-3">
                              <span class="input-group-addon"><i class="icon-user"></i>
                              </span>
                              <input id="username" type="text" class="form-control data-parsley-validated" data-parsley-trigger="input" data-parsley-required="true" data-parsley-error-message="Questo campo &egrave obbligatorio" placeholder="Username">
                          </div>

                          <div class="input-group mb-3">
                              <span class="input-group-addon">@</span>
                              <input type="text" class="form-control data-parsley-validated" data-parsley-type="email" data-parsley-trigger="input" data-parsley-required="true" data-parsley-error-message="Questo campo deve essere un email ed &egrave obbligatorio"  placeholder="Email">
                          </div>

                          <div class="input-group mb-3">
                              <span class="input-group-addon"><i class="icon-lock"></i>
                              </span>
                              <input type="password" id="password" class="form-control data-parsley-validated" data-parsley-trigger="input" data-parsley-required="true" data-parsley-error-message="Questo campo &egrave obbligatorio"  placeholder="Password">
                          </div>

                          <div class="input-group mb-4">
                              <span class="input-group-addon"><i class="icon-lock"></i>
                              </span>
                              <input type="password" class="form-control data-parsley-validated" data-parsley-trigger="input" data-parsley-required="true" data-parsley-equalto="#password" data-parsley-error-message="Questo campo &egrave obbligatorio e deve essere uguale al campo Password" placeholder="Repeat password">
                          </div>

                          <div id='recaptcha' class="g-recaptcha" data-sitekey="6LcDvCgUAAAAAOOFtq4_mp_Fq5yNBtuVQlyHp-kZ" data-callback="onSubmit" data-size="invisible"></div>

                          <button type="button" class="btn btn-block btn-success" onclick="validate(event)">Create Account</button>
                        </form>
                    </div>

                    <div class="card-footer p-4">
                        <div class="row">
                            <div class="col-6">
                                <button class="btn btn-block btn-facebook" type="button">
                                    <span>facebook</span>
                                </button>
                            </div>
                            <div class="col-6">
                                <button class="btn btn-block btn-twitter" type="button">
                                    <span>twitter</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
var instance = $("#register").parsley();
function validate(event) {
  event.preventDefault();
  if (instance.validate()) {
    grecaptcha.execute();
  }
}
var onSubmit = function(token) {
  console.log('success!'+token);
  $("#register").submit();
};
</script>
<script src="https://www.google.com/recaptcha/api.js" async defer></script>
