<div class="app flex-row align-items-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card mx-4">
                    <div class="card-block p-4" ng-controller="RegisterCtrl">
                        <h1>Register</h1>
                        <p class="text-muted">Create your account</p>
                        <form id="register" ng-submit="submit($event)">
                          <div class="input-group mb-3">
                              <span class="input-group-addon"><i class="icon-user"></i>
                              </span>
                              <input id="username" type="text" ng-model="user.name.value" class="form-control data-parsley-validated" data-parsley-trigger="input" data-parsley-required="true" data-parsley-errors-container=".errorusername" data-parsley-error-message="Questo campo &egrave obbligatorio" placeholder="Username">
                          </div>
                          <span class="errorusername"></span>
                          
                          <div class="input-group mb-3">
                              <span class="input-group-addon">@</span>
                              <input type="text" ng-model="user.mail.value" class="form-control data-parsley-validated" data-parsley-type="email" data-parsley-trigger="input" data-parsley-required data-parsley-errors-container=".errormail" data-parsley-type-message="Formato email non valido"  data-parsley-required-message="Campo Email obbligatorio" placeholder="Email">
                          </div>
                          <span class="errormail"></span>

                          <div class="input-group mb-3">
                              <span class="input-group-addon"><i class="icon-lock"></i>
                              </span>
                              <input type="password" ng-model="user.pass.value" id="password" class="form-control data-parsley-validated" data-parsley-minlength="8" data-parsley-errors-container=".errorpassword" data-parsley-trigger="input" data-parsley-required data-parsley-required-message="La password &egrave obbligatoria" data-parsley-pattern="(?=.*[0-9])(?=.*[@#$%^&+=?!_-]).*$" data-parsley-pattern-message="La password deve contenere almeno un numero ed un carattere speciale" data-parsley-minlength-message="La password deve contenere almeno 8 caratteri" placeholder="Password">
                          </div>
                          <span class="errorpassword"></span>

                          <div class="input-group mb-4">
                              <span class="input-group-addon"><i class="icon-lock"></i>
                              </span>
                              <input type="password" class="form-control data-parsley-validated" data-parsley-trigger="input" data-parsley-required="true" data-parsley-equalto="#password" data-parsley-errors-container=".errorconfirmpassword" data-parsley-error-message="Questo campo &egrave obbligatorio e deve essere uguale al campo Password" placeholder="Repeat password">
                          </div>
                          <span class="errorconfirmpassword"></span>
                          
                          <div id='recaptcha' class="g-recaptcha" data-sitekey="6LcDvCgUAAAAAOOFtq4_mp_Fq5yNBtuVQlyHp-kZ" data-callback="" data-size="invisible"></div>

                          <button type="button" class="btn btn-block btn-success" onclick="validate(event)">Create Account</button>
                        </form>
                    </div>

                    <div class="card-footer p-4">
                        <div class="row">
                            <div class="col-6">
                                <button class="btn btn-block btn-facebook" type="button">
                                    <span>facebook</span>
                                </button>
                            </div>
                            <div class="col-6">
                                <button class="btn btn-block btn-twitter" type="button">
                                    <span>twitter</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
var instance = $("#register").parsley();
function validate(event) {
  event.preventDefault();
  if (instance.validate()) {
    grecaptcha.execute();
    onSubmit();
  }
}
var onSubmit = function() {
  $("#register").submit();
};
</script>
<script src="https://www.google.com/recaptcha/api.js" async defer></script>
